/*头部*/

/*banner开始*/
.main_wrap {
    /*height: 10rem;*/
    position: relative;
    z-index: 10;
    margin-top: 0.88rem;
}
.main_wrap .banner {
    width: 100%;
}
.main_wrap .banner .swiper-container {
    width: 100%;
}
.main_wrap .banner .swiper-container .swiper-slide {
    width: 100%;
}
.main_wrap .banner .swiper-container .swiper-slide img{
    width: 100%;
}
.main_wrap .banner .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: .6;
}
.main_wrap .banner .swiper-pagination-bullet-active {
    opacity: 1;
    background: red;
}

/*导航*/
nav {
    width: 100%;
    height: 3.1rem;
    background: white;
}
nav ul {
    width: 100%;
    height: 100%;
}
nav ul li {
    width: 25%;
    height: 1.23rem;
    float: left;
    text-align: center;
    margin-top: 0.20rem;
}
nav ul li a {
    width: 100%;
    height: 100%;
    display: block;
}
nav ul li a img {
    width: 0.88rem;
    height: 0.88rem;
    margin: 0 auto;
}
nav ul li a p {
    font-size: 0.22rem;
    color: black;
    margin-top: 0.04rem;
}
/*头条开始*/
.floor_notice {
    width: 100%;
    height: 0.9rem;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    padding: 0 0.2rem;
}
.floor_notice .notice_bt {
    width: 30%;
    height: 100%;
    /*background: #e7e7e7;*/
    float: left;
}
.floor_notice .notice_bt h2 {
    float: left;
    line-height: 0.9rem;
    font-size: 0.28rem;
}
.floor_notice .notice_bt span {
    float: left;
    width: 0.68rem;
    height: 0.4rem;
    display: block;
    /*background: #007aff;*/
    margin-top: 0.26rem;
    margin-left: 0.2rem;
    border-radius: 0.04rem;
    font-size: 0.26rem;
    color: red;
    text-align:center;
    line-height:0.4rem;
}
.floor_notice .notice_con {
    width: 70%;
    height: 100%;
    /*background: #ff6699;*/
    float: left;
}
.floor_notice .notice_con .swiper-container {
    width: 100%;
    height: 100%;
}
.floor_notice .notice_con .swiper-container .swiper-slide {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 0.9rem;
    color: black;
}

/*广告图*/
.img {
    width: 100%;
    /*height: 1900px;*/
    background: #efefef;
    padding-left: 0.20rem;
    padding-right: 0.20rem;
}
.img .img_1 {
    margin-top: 0.10rem;
}
.img .img_1 a {
    float: left;
    margin-top: 0.17rem;
}
.img .img_1 a img {
    width: 2.28rem;
    height: 2.71rem;
}
.img .img_1 .img2 {
    margin-left: 0.13rem;
    margin-right: 0.13rem;
}
.img .crystal {

}
.img a {
    float: left;
}
.img a img {
    width: 1.77rem;
    height: 2.50rem;
}
/*分类*/
.img .classify {
    margin-top: 0.20rem;
}
.img .classify .classify_top {
    width: 100%;
    height: 0.60rem;
    text-align: center;
    margin-top: 0.10rem;
}
.classify .classify_top img{
    display: inline-block;
    margin: 0 0.80rem;
}
.classify .classify_top span {
    font-weight: 700;
}
.classify .classify_top .text {
    color: #f43c3c;
}
.classify .classify-big {
    margin-bottom: 0.12rem;
}
.classify .classify_left {
    float: left;
}
.classify .classify_left img {
    width: 3.50rem;
    height: 2.02rem;
}
.classify .classify_right {
    float: right;
}
.classify .classify_right img {
    width: 3.50rem;
    height: 2.02rem;
}
/*平价*/
.img .fair {
    margin-top: 0.20rem;
}
.img .fair .classify_top {
    width: 100%;
    height: 0.60rem;
    text-align: center;
    margin-top: 0.10rem;
}
.fair .classify_top img{
    display: inline-block;
    margin: 0 0.80rem;
}
.fair .classify_top span {
    font-weight: 700;
}
.fair .classify_top .text {
    color: #f4ad3c;
}
.fair .classify-big {
    margin-bottom: 0.12rem;
}
.fair .classify_left {
    float: left;
}
.fair .classify_left img {
    width: 3.50rem;
    height: 2.02rem;
}
.fair .classify_right {
    float: right;
}
.fair .classify_right img {
    width: 3.50rem;
    height: 2.02rem;
}
/*大聚惠*/
.img .big {
    margin-top: 0.20rem;
}
.img .big .classify_top {
    width: 100%;
    height: 0.60rem;
    text-align: center;
    margin-top: 0.10rem;
}
.big .classify_top img{
    display: inline-block;
    margin: 0 0.80rem;
}
.big .classify_top span {
    font-weight: 700;
}
.big .classify_top .text {
    color: #f4ad3c;
}
.big .big_left {
    float: left;
}
.big .big_left img {
    width: 3.6rem;
    height: 3rem;
}
.big .big_right {
    float: right;
}
.big .big_right img {
    width: 3.42rem;
    height: 1.5rem;
}

/*个性定制*/
.img .custom-made {
    margin-top: 0.20rem;
}
.img .custom-made .classify_top {
    width: 100%;
    height: 0.60rem;
    text-align: center;
    margin-top: 0.10rem;
}
.custom-made .classify_top img{
    display: inline-block;
    margin: 0 0.80rem;
}
.custom-made .classify_top span {
    font-weight: 700;
}
.custom-made .classify_top .text {
    color: #3c40f4;
}
.custom-made .cus-ma {

}
.custom-made .cus-ma img {
    width: 2.33rem;
    height: 2.78rem;
    float: left;
}
.custom-made .cus-ma .cus-ma1 {
    margin-left: 0.05rem;
    margin-right: 0.05rem;
}
/*fusion*/
.fusion {
    /*height: 27rem;*/
    background: #efefef;
    padding-top: 0.20rem;
    padding-bottom: 1rem;
}
.fusion a img {
    width: 7.5rem;
    height: 1.88rem;
}
.fusion .fusion-bt {
    text-align: center;
    margin-top: 0.20rem;
}
.fusion .fusion-bt span {
    font-weight: 700;
}
.fusion .fusion-bt .text {
    color: #f43c3c;
}
.fusion .fusion-bt img {
    display: inline-block;
    margin: 0 0.80rem;
}
.fusion .fusion-tp {
    padding: 0.20rem;
}
.fusion .fusion-tp .tp-left {
    width: 3.5rem;
    height: 5.3rem;
    background: white;
    float: left;
    margin-bottom: 0.12rem;
}
.fusion .fusion-tp .tp-left a img {
    width: 3.5rem;
    height: 3.74rem;
}
.fusion .fusion-tp .tp-left h4 {
    color: #010101;
    font-size: 0.22rem;
    font-weight: normal;
    margin-left: 0.10rem;
}
.fusion .fusion-tp .tp-left p {
    color: #b00000;
    margin-top: 0.05rem;
    margin-left: 0.10rem;
    padding-bottom: 0.10rem;
    border-bottom: 1px solid #e4e5e4;
}
.fusion .fusion-tp .tp-left .text-1 {
    font-size: 0.22rem;
    color: #5e5c5e;
    margin-left: 0.10rem;
    float: left;
    margin-top: 0.10rem;
}
.fusion .fusion-tp .tp-left .text-2 {
    font-size: 0.22rem;
    color: #5e5c5e;
    float: right;
    margin-right: 0.10rem;
    margin-top: 0.10rem;
}
.fusion .fusion-tp .tp-right {
    width: 3.5rem;
    height: 5.3rem;
    background: white;
    float: right;
    margin-bottom: 0.12rem;
}
.fusion .fusion-tp .tp-right a img {
    width: 3.5rem;
    height: 3.74rem;
}
.fusion .fusion-tp .tp-right h4 {
    color: #010101;
    font-size: 0.22rem;
    font-weight: normal;
    margin-left: 0.10rem;
}
.fusion .fusion-tp .tp-right p {
    color: #b00000;
    margin-top: 0.05rem;
    margin-left: 0.10rem;
    padding-bottom: 0.10rem;
    border-bottom: 1px solid #e4e5e4;
}
.fusion .fusion-tp .tp-right .text-1 {
    font-size: 0.22rem;
    color: #5e5c5e;
    margin-left: 0.10rem;
    float: left;
    margin-top: 0.10rem;
}
.fusion .fusion-tp .tp-right .text-2 {
    font-size: 0.22rem;
    color: #5e5c5e;
    float: right;
    margin-right: 0.10rem;
    margin-top: 0.10rem;
}